<div class="container">
    
    <div>
        <form method='POST' action='/contacts'>
            {{ form.csrf_token }}
           <div>
                {{ form.name.label }}
                
               {{form.name(size=20) }}
           </div>
           
            <div> 
            {{ form.email.label }}
             {{form.email(size=20) }}
                
            </div>
            <div> 
            {{ form.subject.label }}
            {{form.subject(size=20) }}
            </div>             
             {{ form.message.label }}
            {{form.message(size=20) }}
            
            <div>
                
                
            </div>
            
           
<div>
         <button type="submit">Submit<button>
</div>
        
        </form>
    </div>
    
</div>  